/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}

body {
    font: normal normal normal 17px/17px Open Sans;
    color:#262626;
}

header, footer {
    font: normal normal 300 13px/18px Open Sans;
    background-color: #fff;
    background: transparent linear-gradient(1deg, #A84FEB 0%, #552478 100%) 0% 0% no-repeat padding-box;
}

footer {
    padding: 20px;
    background: transparent linear-gradient(180deg, #212121 0%, #454545 49%, #212121 100%) 0% 0% no-repeat padding-box;
}

.require_mark {
    font: normal normal normal 10px/10px Hiragino Kaku Gothic Pro;
    color: #FF6A4B;
}

.header_pc {
    display: flex;
    width:100%;
    position: fixed;
    z-index: 9000;
    background: transparent linear-gradient(1deg, #A84FEB 0%, #552478 100%) 0% 0% no-repeat padding-box;
    height: 100px;
}

a {
    color:#262626;
    text-decoration: none;
}

.logo_a {
    display: inline-block;
    margin-left: 100px;
    margin-top: 24px;
    font: normal normal normal 30px/30px Serif;
    letter-spacing: 0px;
    color: #FFFFFF;
}

img {
    vertical-align: unset!important;
}

p {
    margin-bottom: 0;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: auto;
}

.header_menu_user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-left: auto;
    margin-right: 40px;
}

.header_a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 5px;
    text-align: center;
    font: normal normal normal 12px/18px Futura PT;
}

.header_btn1 {
    margin: 5px;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
}


.user_content_div {
    background: transparent linear-gradient(180deg, #7B7B7B 0%, #9A9999 52%, #626262 100%) 0% 0% no-repeat padding-box;
}

.user_content_div_sp {
    background: transparent linear-gradient(180deg, #7B7B7B 0%, #9A9999 52%, #626262 100%) 0% 0% no-repeat padding-box;
}

.content_flex {
    display: flex;
    width:100%;
}

.user_sidebar {
    font: normal normal normal 14px/16px Open Sans;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #00000029;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    min-width: 200px;
    height: calc(100vh - 100px);
}

.menu_a {
    display: block;
    padding: 10px 10px 10px 25px;
    color: #2F3F4E;
    border-bottom: 1px solid #707070;
}

.menu_a:hover {
    text-decoration: none;
}

.user_content_main {
    background: #fff;
    box-shadow: 3px 3px 4px #00000019;
    border: 1px solid #A5A5A5;
    font: normal normal bold 18px/30px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    padding: 50px 40px;
    width: calc(100vw - 200px);
}
.paid_list_main {
    background: #fff;
    box-shadow: 3px 3px 4px #00000019;
    border: 1px solid #A5A5A5;
    font: normal normal bold 18px/30px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    padding: 50px 40px;
    width: calc(100vw - 200px);
}

.content_title {
    font: normal normal normal 20px/21px sans-serif;
    letter-spacing: 0px;
    color: #262626;
}
.text_show_title {
    font: normal normal normal 18px/18px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin:30px 0;
}

.pagenate {
    width:65%;
    text-align: center;
    margin-top: 20px;
    font: normal normal bold 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
}

.pagenate_sp {
    width:100%;
    text-align: center;
    margin-top: 20px;
    font: normal normal bold 22px/28px Arial;
    letter-spacing: -0.24px;
    color: #262626;
    margin-bottom: 50px;
}

.page_current {
    color: #66008D;
}

.current {
    background: #fff;
}

.up, .down, .up_r, .down_r {
    float: right;
    margin-top: 5px;
}

.up, .down_r {
    display: none;
}

.down, .up_r {
    display: block;
}

.header_margin {
    margin-top:100px;
}

.padding_sp {
    padding: 50px 10px;
}

.padding_sp_2 {
    padding: 10px 15px 50px;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}


.login_div {
    width:300px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin:auto;
}

.login_item_name {
    font: normal normal normal 16px/26px Arial;
    letter-spacing: -0.18px;
    color: #262626;
}

.login_form_text {
    font: normal normal normal 14px/20px Arial;
    letter-spacing: -0.2px;
    color: #262626;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.admin_regist_div {
    width:500px;
    margin:auto;
}

.text_regist_div {
    width:100%;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    padding:20px 50px;
    margin:20px 0 50px;
}

.danka_regist_div {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.danka_other_div {
    width: 100%;
    margin: 20px 0;
    border:1px solid;
    font: normal normal normal 14px/20px Arial;
}
.danka_other_tab {
    width:100%;
    display: flex;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}
.danka_tab {
    display: block;
    border-bottom: 1px solid #707070;
    border-right: 1px solid #707070;
    padding: 3px 0;
    width: 100px;
    text-align: center;
}
.danka_current {
    border-bottom: none!important;
    background: #fff!important;
    font-weight: bold;
}
.danka_space {
    width:calc(100% - 200px);
    border-bottom: 1px solid #707070;
}
.danka_other_content, .danka_family_content {
    padding: 15px;
    height: 220px;
}
.danka_other_content > input[type="checkbox"]:not(:checked) ~ #hikuyousya_form {
    height: 0px;
    overflow: hidden;
}
.danka_other_content > input[type="checkbox"]:checked ~ #hikuyousya_form {
    display:flex;
    justify-content: space-between;
}
.hikuyousya_type {
    
}
.hikuyousya_name {
    
}
.hikuyousya_date {
    
}
.hikuyousya_regist_form {
    display:flex;
    justify-content: space-between;
}

.family_item {
    display: flex;
    justify-content: space-between;
}
.deal_item_column {
    display: flex;
    justify-content: space-between;
    margin:8px 0;
}
.family_column {
    margin: 10px 0;
    display: flex;
}
.danka_family_content {
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: 10px;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: 10px;
}
/*スクロールバー非表示（Chrome・Safari）*/
.danka_family_content::-webkit-scrollbar{
    width: 10px;
}
.danka_family_content::-webkit-scrollbar-track{
    background-color: #ccc;
}
.danka_family_content::-webkit-scrollbar-thumb{
    background-color: #17585d;
}
.danka_family_content_view, .danka_payment_view {
    padding: 15px;
    height: 300px;
}
.family_add_btn {
    background: #707070;
    color: #fff;
    padding: 5px;
}
#item-1 .minus_btn {
    display: none;
}
.dummy_minus_btn_div {
    width:30px;
}

.item_add_btn {
    background: #707070;
    color: #fff;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
}
.item_other {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.item_header {
    width: 100%;
    display: flex;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    justify-content: space-between;
    padding:5px 25px 5px 15px;
}
.deal_item_detail {
    width:20%;
}
.deal_item_num {
    width:5%;
}
.deal_item_price {
    width:6%;
}
.deal_item_zokumyo {
    width:15%;
}
.deal_item_date {
    width:10%;
}
.deal_item_kaiki {
    width:4%;
}
.deal_item_remark {
    width:35%;
}

.danka_form_div {
    width:45%;
}

.danka_column {
    width:100%;
    margin:8px 0;
    display: flex;
    font: normal normal normal 14px/21px sans-serif;
}
.danka_regist_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: 120px;
    padding-top: 6px;
}
.deal_regist_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: 120px;
}
.danka_regist_name2 {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: 80px;
    padding-top: 6px;
}
.danka_detail_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: 120px;
}
.danka_notices {
    width: calc(100% - 120px);
}
.danka_form_text {
    width: calc(100% - 120px);
    padding: 2px 5px;
    font: normal normal normal 12px/16px sans-serif;
}
.danka_form_text2 {
    width: 200px;
    padding: 2px 5px;
    font: normal normal normal 12px/16px sans-serif;
}
.danka_checkbox {
    margin-right: 10px;
    accent-color: #A84FEB;
}
.danka_label {
    margin-right:40px;
    margin-bottom: 0;
    font: normal normal normal 14px/21px sans-serif;
}
.yen_text {
    padding-top: 3px;
    padding-left: 5px;
}

.danka_search_div {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    flex-wrap: wrap;
}
.search_btn_list {
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_result_div {
    height: 335px;
    font:normal normal normal 14px/18px sans-serif;
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
/*スクロールバー非表示（Chrome・Safari）*/
.search_result_div::-webkit-scrollbar{
    width: 10px;
}
.search_result_div::-webkit-scrollbar-track{
    background-color: #ccc;
}
.search_result_div::-webkit-scrollbar-thumb{
    background-color: #17585d;
}
.search_view_btn_a {
    background: #2963AB;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width: 70px;
    margin: auto;
    padding: 2px 0;
    line-height: 24px;
}

.search_btn_a {
    background: #A84FEB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 90px;
    margin: 0 10px;
    display: block;
    padding: 5px 0;
}
.clear_btn_a {
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 90px;
    margin: 0 10px;
    display: block;
    padding: 5px 0;
}
.create_btn_a {
    background: #005b97 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #fff;
    margin: 0 10px;
    display: block;
    padding: 5px 20px;
}

.pagination_div {
    display: flex;
}
.hikuyousya_id {
    width:8%;
}
.hikuyousya_name {
    width:8%;
}
.hikuyousya_type {
    width:5%;
}
.hikuyousya_zokumyo {
    width:8%;
}
.hikuyousya_kaimyo {
    width:12%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hikuyousya_kaimyo_view {
    width:12%;
}
.hikuyousya_date {
    width:7%;
}
.hikuyousya_kaiki {
    width:3%;
}
.hikuyousya_ihai {
    width:5%;
}
.hikuyousya_gender {
    width:4%;
}
.hikuyousya_btn {
    width:6%;
}

.deal_id {
    width:5%;
}
.deal_name {
    width:10%;
}
.deal_tel {
    width:9%;
}
.deal_item {
    width:10%;
}
.deal_price {
    width:6%;
}
.deal_date {
    width:7%;
}
.deal_address {
    width:18%;
}
.deal_btn {
    width:28%;
    display: flex;
    justify-content: end;
    min-width: 380px;
}
.payment_blue_btn_a {
    background: #2963AB;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width: 100px;
    margin: 0 5px;
    padding: 2px 0;
    line-height: 24px;
    border: 1px solid #2963AB;
}
.payment_red_btn_a {
    background: #A62E2E;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width: 100px;
    margin: 0 5px;
    padding: 2px 0;
    line-height: 24px;
    border: 1px solid #A62E2E;
}
.payment_white_btn_a {
    background: #fff;
    border-radius: 4px;
    text-align: center;
    font: normal normal bold 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #000;
    display: block;
    width: 100px;
    margin: 0 5px;
    padding: 2px 0;
    line-height: 24px;
    border: 1px solid #707070;
}
.payment_view_btn_a {
    background: #A84FEB;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 12px/16px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width: 100px;
    margin: 0 5px;
    padding: 2px 0;
    line-height: 24px;
    border: 1px solid #A84FEB;
}
.payment_btn_div {
    width:100px;
    font: normal normal bold 14px/18px sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: center;
    padding:5px 0;
}
.payment_btn_a {
    width:100px;
    font: normal normal normal 14px/18px sans-serif;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    text-align: center;
    padding:5px 0;
}

.text_category_list_div {
    width: 90%;
    margin:auto;
    padding-top: 20px;
}
.payment_list_header {
    display: flex;
    justify-content: space-between;
    font: normal normal bold 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin: 60px 0 10px;
    padding-left: 20px;
    padding-right: 10px;
}
.payment_view_column {
    width:47%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    height: 28px;
    margin-top:10px;
}
.payment_flex_list {
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.danka_payment_date {
    width:15%;
}
.danka_payment_other {
    width:25%;
}
.danka_payment_price {
    width:12%;
    padding-right: 10px;
    text-align: right;
}
.payment_id {
    width:12%;
}
.payment_name {
    width:12%;
}
.payment_num {
    width:10%;
}
.payment_tel {
    width:15%;
}
.payment_type {
    width:10%;
}
.payment_price {
    width:10%;
}
.payment_date {
    width:10%;
}
.payment_address {
    width:18%;
}
.payment_btn {
    width:10%;
}
.payment_btn2 {
    width:20%;
    display: flex;
    justify-content: space-between;
    min-width: 230px;
}
.payment_list_column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    font: normal normal normal 14px/18px sans-serif;
    letter-spacing: 0px;
    color: #262626;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    align-items: end;
}
.family_view_column {
    display: flex;
    width: 50%;
}
.item_view_column {
    display: flex;
    width: 65%;
}
.family_view_item {
    width:25%;
}
.paid_btn_a {
    background: #2963AB;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width:110px;
    margin: auto;
    padding: 5px 0;
    line-height: 26px;
}
.unpaid_btn_a {
    background: #707070;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    width:110px;
    margin: auto;
    padding: 5px 0;
    line-height: 26px;
}
.category_name_text {
    width:400px;
    padding:5px 15px;
    font: normal normal normal 14px/21px sans-serif;
    margin-right:10px;
}
.item_name_text {
    width:200px;
    padding:5px 15px;
    font: normal normal normal 14px/21px sans-serif;
    margin-right:10px;
}
.item_btn_list {
    width: 200px;
    display: flex;
}
.add_btn_a {
    background: #2963AB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    line-height: 26px;
    width: 100px;
    height: 36px;
}
.edit_btn_a {
    background: #A84FEB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    line-height: 16px;
    width: 80px;
    height: 24px;
    margin: 0 10px;
}
.delete_btn_a {
    background: #A62E2E 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    line-height: 16px;
    width: 80px;
    height: 24px;
}
.gray_btn_a {
    background: #707070 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    line-height: 26px;
    width: 100px;
    height: 36px;
}
.view_btn_a {
    background: #A84FEB;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding:5px 20px;
    line-height: 26px;
}

.category_list_header {
    font: normal normal bold 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin: 10px 0;
    padding-left: 50px;
}
.category_list {
    height: calc(100vh - 480px);
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: 10px;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: 10px;
}
/*スクロールバー非表示（Chrome・Safari）*/
.category_list::-webkit-scrollbar{
    width: 10px;
}
.category_list::-webkit-scrollbar-track{
    background-color: #ccc;
}
.category_list::-webkit-scrollbar-thumb{
    background-color: #17585d;
}
.category_list_message {
    color: blue;
}
.admin_list_message {
    color: #A62E2E;
}
.text_list_column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 20px;
    font: normal normal normal 16px/24px sans-serif;
    letter-spacing: 0px;
    color: #262626;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    align-items: end;
}
.text_regist_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width:100px;
    padding-top: 6px;
}
.select_category {
    font: normal normal normal 12px/16px sans-serif;
    padding:2px;
    width: 300px;
}
.text_title_text {
    width: calc(100% - 100px);
    padding: 5px 5px;
    font: normal normal normal 14px/21px sans-serif;
}
.form_textarea {
    width: calc(100% - 100px);
    padding: 5px 5px;
    font: normal normal normal 14px/21px sans-serif;
    height: 200px;
}
.text_store_btn_a {
    background: #A84FEB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 100px;
    margin: auto;
    display: block;
    padding: 5px 0;
}
.text_delete_btn_a {
    background: #A62E2E 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 100px;
    margin: auto;
    display: block;
    padding: 5px 0;
}
.text_title {
    font: normal normal normal 18px/25px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 20px;
}
.text_content {
    font: normal normal normal 18px/25px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width: calc(100% - 120px);
    max-height: 125px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.flex_column {
    display: flex;
    margin:10px 0;
    width:100%;
}
.flex_column_space {
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    width:100%;
}

.regist_item_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width:150px;
    padding-top: 6px;
}
.book_item_name {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width:100px;
    padding-top: 6px;
}
.book_item_content {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    width:200px;
    padding-top: 6px;
}
.regist_form_text {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    width: 350px;
    padding: 5px 10px;

}

.error_message {
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #A62E2E;
}

#id_error, #password_error, #name_error, #max_error, #place_error, #tel_error, #name_kana_error, #detail_error, #price_error {
    display: none;
}

.payment_btn_list {
    width: 270px;
    display: flex;
    border: 1px solid #707070;
    color: #000000;
    font: normal normal normal 16px/16px sans-serif;
    margin: 30px 0;
}
.category_btn_a {
    background: #EEEEEE 0% 0% no-repeat padding-box;
    display: block;
    width:90px;
    text-align: center;
    padding: 8px 0;

}
.current_category {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-weight: bold;
}


.event_btn_list {
    display: flex;
    justify-content: space-between;
    width:320px;
}

.event_book_flex {
    display: flex;
    width:100%;
}

.event_book_div {
    width: 500px;
}
.event_book_detail {
    width: 300px;
}
.event_book_list {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
}
.event_book_column {
    font: normal normal normal 15px/15px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    padding-bottom:5px;
    border-bottom: 1px solid;
    height: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
}
.book_add_btn_a {
    background: #2963AB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    display: block;
    padding: 5px;
    line-height: 26px;
    width: 100%;
    height: 36px;
    margin-top: 30px;
}
.dummy_btn_div {
    width:100px;
}

.form_text {
    font: normal normal normal 20px/30px Arial;
    letter-spacing: -0.2px;
    color: #262626;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    width: 380px;
    padding: 15px 20px;
}

.admin_user_list {
    width: 55%;
    margin-top: 30px;
}
.login_log_list_div {
    width: 40%;
    margin-top: 30px;
    margin-left:5%;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    padding:20px;
    height: 60vh;
}
@media screen and (min-width: 1431px) {
    .admin_user_list {
        width: 55%;
    }
    .login_log_list_div {
        width: 40%;
    }
    .login_log_column {
        margin-right: 30px;
        font: normal normal normal 16px/24px sans-serif;
    }
    .admin_user_column {
        font: normal normal normal 16px/24px sans-serif;
    }
}
@media screen and (max-width: 1430px) {
    .admin_user_list {
        width: calc(100% - 230px);
    }
    .login_log_list_div {
        width: 200px;
    }
    .login_log_column {
        margin-right: 10px;
        font: normal normal normal 12px/24px sans-serif;
    }
    .admin_user_column {
        font: normal normal normal 12px/24px sans-serif;
    }
}


.login_log_list {
    height: calc(100% - 50px);
    overflow-y: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
/*スクロールバー非表示（Chrome・Safari）*/
.login_log_list::-webkit-scrollbar{
    width: 10px;
}
.login_log_list::-webkit-scrollbar-track{
    background-color: #ccc;
}
.login_log_list::-webkit-scrollbar-thumb{
    background-color: #17585d;
}

.login_log_column {
    letter-spacing: 0px;
    color: #262626;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    display: inline;
}

.admin_user_header, .admin_user_column {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}
.admin_user_header {
    font: normal normal bold 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 30px;
}
.login_log_header {
    font: normal normal bold 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    margin-bottom: 30px;
}
.admin_user_column {
    letter-spacing: 0px;
    color: #262626;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}
.admin_user_id {
    width:16%;
}
.admin_user_name {
    width:20%;
}
.admin_user_date {
    width:16%;
}
.admin_user_btn {
    width:70px;
}
.user_delete_btn_a {
    background: #A62E2E 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width:90%;
    display: block;
    padding:5px 0;
}
.log_view_btn_a {
    background: #A84FEB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-align: center;
    font: normal normal normal 14px/21px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    width:90%;
    display: block;
    padding:5px 0;
}
.current_log_btn {
    background: #2963AB 0% 0% no-repeat padding-box;
}

.log_view_btn_a:hover {
    color:#fff;
}

.log_list {
    display: none;
}
.log_list_current {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

::placeholder {
    color: #262626;
    opacity: 0.5;
}


.form_item_text {
    margin:20px 0;
}

.form_a {
    color: #007bff;
    text-decoration: none;
}


.btn_a {
    width:400px;
    margin:auto;
    display: block;
    cursor: pointer;
}

.btn_a_sp {
    width:100%;
    margin:auto;
    display: block;
    cursor: pointer;
}

.btn_a:hover {
    text-decoration: none;
}

.btn_purple, .btn_purple_sp {
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
    font: normal normal normal 26px/36px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.btn_purple {
    padding:30px;
}

.btn_purple_sp {
    padding:20px;
}


.login_btn_a, .btn_sp_a {
    width:100%;
    margin:auto;
    display: block;
    cursor: pointer;
}

.login_btn {
    background: #A84FEB 0% 0% no-repeat padding-box;    box-shadow: 0px 0px 5px #7d0dffb9;
    border-radius: 5px;
    font: normal normal normal 16px/20px Open Sans;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
}


#registration_pc {
    overflow-x: hidden;
}


li {
    list-style: none;
}

.none {
    opacity: 0;
    z-index:-1;
}

.menu_none {
    display: none;
}


/*以下ページネーションについて*/

.paginationWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font: normal normal bold 14px/18px Arial;
}

.paginationWrap ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.paginationWrap ul.pagination li {
    display: inline;
    margin-right: 4px;
}

.paginationWrap ul.pagination li a {
    color: #2f3859;
    padding: 6px 10px;
    text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
    background-color: #EDEDED;
    border-radius: 5px;
    width: 38px;
    height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
    background-color: #e1e7f0;
    border-radius: 5px;
}

